* {
    font-family: 'Franklin Gothic Medium';
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 255, 197);

}

#botones {
    max-width: 400px; /* Puedes ajustar el ancho máximo según tus necesidades */
    margin: 0 auto;   /* Centra el contenedor horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: red;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}

.boton:hover {
    background-color: rgb(240, 171, 171);
    border-radius: 30px;
}
