body{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    background-image: url('fondo.png');
    background-size:cover;
    background-position: center;
    color:white;
}

h1{
    font-size: 50px;
    font-family: Valorant;
    text-align: center;
    text-shadow: 0 0 15px red;
}

h2{
    font-size: 30px;
    font-family: Valorant;
    text-align: center;
    text-shadow: 0 0 15px red;
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}



.divelemento{
    border-style: solid;
    margin: 20px;
    height: 320px;
    width: 250px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0 15px red;
    background-color: rgb(41, 41, 41);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center center;
    transition: 1s; 
}


.divelemento:hover{

    scale: 1.1;


}

.divelemento h1{    text-align: center;
    font-family: Calibri;
    text-shadow: 0 5px 5px rgb(0, 0, 0);
    

}

.armas{
    background-size:contain;
}